Checks: '*,
         -cppcoreguidelines-avoid-non-const-global-variables,
         -hicpp-signed-bitwise,
         -llvmlibc-restrict-system-libc-headers,
         -llvm-header-guard,
         -modernize-macro-to-enum'