name: tests

on:
  pull_request:
    branches: [main]

  workflow_dispatch:

jobs:
  static-analysis:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: build docker image
        run:  docker compose build
      - name: build project
        run:  docker compose run --rm build-hex
      - name: run static analysis
        run:  docker compose run --rm static-analysis
  unit-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: build docker image
        run:  docker compose build
      - name: run unit tests
        run:  docker compose run --rm unit-tests
