name: tests

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  static-analysis:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:
      - name: checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: build docker image
        run:  docker compose build
      - name: build project
        run:  docker compose run --rm build-hex
      - name: run static analysis
        run:  docker compose run --rm static-analysis

  code-complexity:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:
      - name: checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: build docker image
        run:  docker compose build
      - name: run code complexity check
        run:  docker compose run --rm code-complexity

  unit-tests:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:
      - name: checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: build docker image
        run:  docker compose build
      - name: run unit tests (including coverage)
        run:  docker compose run --rm unit-tests
      - name: upload to codecov
        if: always()
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          fail_ci_if_error: true
          files: Build/coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
